.footer {
  width: 100%;
  height: 10rem;
  background-color: #6278f7;
  /* position: absolute;
  bottom: 0; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
}

.footer .logo {
  width: 16.6rem;
}

.footer .socials {
  display: flex;
  gap: 3rem;
}

.footer .socials img {
  width: 35px;
  height: 35px;
}

.footer .description {
  color: #ffffff;
  font-size: 2rem;
}
